@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-[#1f2122] font-poppins text-white;
  }
  .btn {
    @apply bg-[#e75e8d] text-white rounded-3xl font-normal py-3 px-7 hover:bg-white hover:text-[#e75e8d] transition-all ease-in-out duration-300;
  }
  .btn-s {
    @apply bg-[#e75e8d] text-white rounded-3xl font-light text-sm py-[1px] px-2 hover:bg-white hover:text-[#e75e8d] transition-all ease-in-out duration-300;
  }
  .link {
    @apply text-sm  font-semibold text-white hover:text-[#e75e8d] transition-all ease-in-out duration-300;
  }
}
::placeholder {
  color: #666;
}
::selection {
  background-color: #e75e8d;
  color: #fff;
}